[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyramid-openapi3 = {editable = true,path = "."}
openapi-core = "==0.11.0"
jsonschema = "==3.0.1"
openapi-spec-validator = "*"
structlog = "*"

[dev-packages]
black = "==19.3b0"
codespell = "*"
docutils = "*"
flake8 = "*"
flake8-assertive = "*"
flake8-blind-except = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-deprecated = "*"
flake8-docstrings = "*"
flake8-mock = "*"
flake8-mutable = "*"
flake8-plone-hasattr = "*"
flake8-print = "*"
flake8-self = "*"
flake8-super-call = "*"
flake8-tuple = "*"
isort = "*"
lxml = "*"
mypy = "*"
pre-commit = "*"
pre-commit-hooks = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"
twine = "*"
typecov = "*"
webtest = "*"
